body {
  background-color: #ccc;
}
ul {
  list-style: none;
}
ul li {
  list-style: none;
}
.simple-table-1 {
  width: 60%;
  margin: 50px auto;
}
.simple-table-1 .table-row-1 {
  display: flex;
  border: 1px solid #aaa;
  padding: 0;
}
.simple-table-1 .table-row-1 li {
  flex-grow: 1;
  text-align: center;
  margin: 0 20px;
  padding: 10px;
}
