body
  background-color #ccc
ul
  list-style none
  li
    list-style none

.simple-table-1
  width 60%
  margin 50px auto
  .table-row-1
    display flex
    border 1px solid #aaa
    padding 0
    li
      flex-grow 1
      text-align center
      margin 0 20px
      padding 10px